<?xml version="1.0"?>
<!--
  You need slf4j-api-X.jar, logback-classic-X.jar and logback-core-X.jar
  
  Pattern definition:
    http://logback.qos.ch/manual/layouts.html#conversionWord
    
  http://devblog.virtage.com/2012/07/logback-and-eclipse-attaching-logback-xml/
  http://stackoverflow.com/a/5653532
-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
          <charset>UTF-8</charset>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/FilesHub.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>logs/FilesHub.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
          <timeBasedFileNamingAndTriggeringPolicy
              class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
              <!-- Create a new log file if it reaches over maxFileSize. -->
              <maxFileSize>5MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
          <!-- keep 30 days' worth of history -->
          <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
          <charset>UTF-8</charset>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger.%method - %msg %n</pattern>
        </encoder>
    </appender> 

    <root level="DEBUG"><!-- DEBUG > INFO > WARN > ERROR > FATAL -->
      <!-- <appender-ref ref="STDOUT" /> -->
      <appender-ref ref="FILE" />     
    </root>
</configuration>