Use cases:
==========
FilesHub need to handle the following cases:

  Case 1: Add new files.
  Case 2: Add files with same names but with different content.
  Case 3: Add files with different names but with the same content.
  

{@link File#createTempFile}